html{
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 1rem;
	background-image: linear-gradient(to top right, #fbdd9f, #faebcc);
}
*,
*:after,
*:before{
	padding: 0;
	margin: 0;
	box-sizing: inherit;

}

a{
	margin-left:.4em;
	padding: .2em;
	border: .2em;
	font-family: sans-serif;
	line-height: 2rem;
}
a:link{ color: #ffff; text-decoration: none}
a:active{ color: #ffff; text-decoration: none}
a:visited{ color: #ffff; text-decoration: none}
a:hover{ color: #dce910; text-decoration: underline}

li{
	display:flex;
	list-style: none;
	align-items: center;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	align-items: center;
	padding: .2em;
	border: auto;
	font-family: Verdana, Geneva, sans-serif;
	color:#789492;

}


h2{padding: 1rem;
border: .2rem;
font-family: sans-serif;
color:#789492;}

h3{padding: .4rem;
border: .2rem;
font-family: sans-serif;
font-size: 30px;
}

h4{padding: .4rem;
border: .2rem;
font-family: sans-serif;
color: #789492;
font-size:26px;}




.contenido span {
	padding: .4rem;
	border: .2rem;
	font-size: 1rem;
	font-family:Geneva, Tahoma, Verdana, sans-serif;
}


.perfil h1{
	font-size: 4.5rem;
}
.ulises{
	color:#339999;
}


.ok{
	display: flex;
	color: #ffff;
	align-content: center;
	margin: 5px;
	padding: .2em;
	font-size: 25px;
	padding: .2em;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

} 

.ok:hover{
	color: #dce910;
	font-size: 30px;
}

.header{
	display: flex;
	height: 35%;
	background-image:url(../fotos/fondo-madera1.jpg);	
	width: 100%;


}
.foto{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 29%;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}
.perfil{
	width: 71%;
	padding: 1rem;
	background-color:rgba(248,241,241, 0.8);
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.2) inset;
	flex-shrink: 0;
}

.perfil p{
	margin: 1rem;
	padding: 1rem;
	font-size: 1.5rem;

}

.contenido{	
	display: flex;

	}

.izquierda{
	display: flex; 
	flex-direction: column;
	padding: 1rem;
	background-image: linear-gradient(to left, #326663, #66bab5);
	width: 29%;
	text-decoration-color: #ffff;
	font-size: 1rem;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.2) inset;
}




.centro
{
	display: flex;
	flex-direction: column;
	background-color:#e2dede;
	width: 71%; 
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.2) inset;
}

.experiencia{
	flex: 1 1 auto;
	padding:2rem;
	alignment-baseline: auto;
	
	
}
.formacion{
	flex: 1 1 auto;
	padding: 2rem;
}
.cursos{
	flex: 1 1 auto;
	padding: 2rem;
	
}

.title{

	width: 35%;
	padding: 1rem;
	color:#ffff;
	background-image: linear-gradient(to left, #3d9994, #326663);
  	transition: 0.3s;
}

.title:hover{	
	width: 100%;
	font-size: 1.2rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.scroll-to-top{
  text-decoration: none;
  position: fixed; 
  top: .8rem;
  right: .8rem;
  display: none;
  font-size: 4rem;
  color: #555;
}

.scroll-to-top:hover{
  text-decoration:none;
  color: #000;
}


@media screen and (max-width: 640px) {
	.header{
		flex-direction: column;
		align-items: center;
	}

	.logo{

		text-align: center;

	}
	.perfil {
		width: 100%;
		text-align: justify;
	}

	.contenido{
		flex-direction: column;
		align-items: center;
	}

	.centro{
		display: flex;
		order: -1;
		width: 100%;
		text-align:justify;
	}
	.izquierda{
		width: 100%;
		text-align: justify;
	}
	
	.p1{
		font-size:4rem;
		font-style:oblique;
		text-decoration: overline;
	}
	.title{
	display: flex;
	justify-content: center;
	width: 35%;
	padding: 1rem;
	color:#ffff;
	background-image: linear-gradient(to left, #3d9994, #326663);
	width: 100%;
	font-size: 1.2rem;
	
			}

	
}